#bg-car {
  background: image-url("pump3.jpg");
  background-size: cover;
  padding: 270px 400px 30px 50px;
  color: white;

  h1 {
  font-size: 75px;
  }

  p {
  font-size: 25px;
  }

  .btn {
  margin: 20px 0;
  }
}
