/* -------------------------------------
 * Fonts
 * ------------------------------------- */

// Perso Fonts

@font-face {
    font-family: 'Proxima Nova';
    src: url('proxima_semibold-webfont.eot');
    src: url('proxima_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima_semibold-webfont.woff') format('woff'),
         url('proxima_semibold-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Proxima Nova Light';
    src: url('proxima_thin-webfont.eot');
    src: url('proxima_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima_thin-webfont.woff') format('woff'),
         url('proxima_thin-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;

}

$header-font: "Proxima Nova", "sans-serif";



// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
$base-font: "Open Sans", "Helvetica", "sans-serif";


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$black: #141414;
$lightblack: #323133;
$yellow: #eec857;
$darkyellow: #eeb057;
$orange: #e07a46;
$darkorange: #e05c46;
$green: #4ab19d;
$blue: blue;
$red: red;

// Gray scale
$darkgray:    #E7E2EC;   // #333
$gray:         #C9C5CE; // #555
$white: #141414;
$realwhite: #EDE8F2;
