<div id="contact" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "http://placehold.it/200x200" %>
        <h2>Leonard Hamelin</h2>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "http://placehold.it/200x200" %>
        <h2>Alex de Vavasseur</h2>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "http://placehold.it/200x200" %>
        <h2>Shay Michel</h2>
      </div>
    </div>
  </div>
</div>
